:root {
  --primary-text-color: #757575;
  --title-color: #212121;
  --primary-logo-color: #000000;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --command-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
}

body,
.contact,
.work-type {
  color: var(--primary-text-color);
}
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Шапка */
.accent,
.link:hover,
.link:focus,
.contact:hover,
.contact:focus {
  color: var(--accent-color);
}

.link,
.features,
.title,
.name,
.project {
  color: var(--title-color);
}

.logo.header {
  color: var(--primary-logo-color);
}

.logo.footer {
  color: var(--primary-white-color);
}

.contact.footer {
  color: var(--footer-contact-color);
}

.order,
.filter:hover,
.filter:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.filter {
  color: var(--title-color);
  background-color: var(--command-bg-color);
}